
<html><head><title>Nuova Prenotazione</title>
  <script>
  function edit(id) {
    return fetch('/prenotazione/'+id, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ "pers_id": document.getElementById("pers_id").value , "post_id" :document.getElementById("post_id").value })
    });
  } 
  function crea() {
    return fetch('/prenotazione/', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ "pers_id": document.getElementById("pers_id").value , "post_id" :document.getElementById("post_id").value })
    });
  }
  
</script>
</head>
 <%  if ( typeof (pers_id) == "undefined" ) { NomeView="Creazione"; FunzionedaChiamare="crea()"; } else { NomeView="Visualizzazione";  FunzionedaChiamare="edit('" + id + "')";} %> 
<body><h1><%- NomeView %> di Prenotazione</h1>
  <table>
       
    <tr><td>Persona</td><td><select  id='pers_id' >
      <% for (let i=0; i < listaPersone.length ; i++) { %>
        <option value="<%- listaPersone[i].id %>"><%- listaPersone[i].nome %> <%- listaPersone[i].cognome %></option>
      <% } %>
    </select></td></tr>

    <tr><td>Postazione</td><td><select  id='post_id' >
      <% for (let i=0; i < listaPostazioni.length ; i++) { %>
        <option value="<%- listaPostazioni[i].id %>"><%- listaPostazioni[i].luogo %> - <%- listaPostazioni[i].data_ora %></option>
      <% } %>
    </select></td></tr>
    <tr><td><button type="submit" value='Salva' onclick="<%- FunzionedaChiamare %>">Salva</button ></td></tr>
    
  </table>


</body></html>